
body{
    font-family: 'Rubik', sans-serif; 
}

.container-fluid{
    background-color:white;
}

.barra{
   height: 70px;
}

a img{
    margin-right: 1rem;
}

.run{
    width: 100vw;
}

h2{
   font-family: 'Kaushan Script', cursive;
   margin-top: 3rem;
   margin-bottom: 3rem;
   text-align: center;
   font-size: 3rem;
   background-color: rgb(200, 228, 171);
   padding: 2rem;
   width: 100%;
   border-radius: 0.4rem;
}

.navbar-brand{
    font-size: 2.7rem;
    font-family: 'Kaushan Script', cursive;
    margin-left: 2rem;
}

#misprods{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}

.logo{
    height: 8rem;
}

.borrar{
    border-radius: 0.4rem;
}

.texto{
    margin: 2rem;
    color: black;
    font-size: 1.5rem;
}

h3{
    font-weight: bolder;
    margin: 2rem;
    color:rgb(9, 92, 9);
}
h4{
    margin: 1.5rem;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
}
h5{
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    margin: 2rem;
    text-shadow: 1px 1px 1px grey;
}

ul{
    list-style-image: url("images/check_verde.svg");
    font-weight: bolder;
}

.strong{
    font-weight: bolder;
}

.nutricion{
    height: 91rem;
    background-image: url(images/nutricion.jpg);
}

.textoNutri{
    width: 35rem;
    display: flex;
    flex-direction: column;
    margin-left: 58%;
    text-align: justify;
    font-size: 1.5rem;
    padding: 2rem;
}
.strong{
    font-weight: 900;
    font-style: italic;
    color: black;
}
.textoCoach{
    font-size: 1.5rem;
    padding: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: justify;
}
.imc{
    font-size: 1.5rem;
    padding: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: justify;
}
.imgCoach{
    margin-bottom: 3rem;
    margin-top: 2rem;
    height: 40rem;
    width: 78rem;
    border-radius: 0.4rem;
}

.btnImc{
    border-radius: 0.4rem;
    border-color: rgb(200, 228, 171);
    margin-right: 57%;
    margin-left: 43%;
    margin-bottom: 1.8rem;
    padding: 0.3rem;
    box-shadow: 2px 2px 2px grey;
    background-color: rgb(200, 228, 171);
    width: 12rem;
    height: 3rem;
    font-weight: 900;
    color: rgb(4, 3, 3);
    font-size: 1.5rem;
}

.btnImc:hover{
    border: 3px black solid;
    border-radius: 0.4rem;
    transform: scale(1.1);
    transition: 0.5s;
}

.wp{
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 2rem;
}

.wp:hover{
    border: 3px black solid;
    border-radius: 0.4rem;
    transform: scale(1.3);
    transition: 0.5s;
}

.finalizar{
    margin-left: 45%;
    margin-right: 55%;
    border-radius: 0.4rem;
    border-color:  rgb(3, 126, 240);
    width: 10rem;
    height: 2.2rem;
    box-shadow: 2px 2px 2px grey;
    color: white;
    background-color: rgb(3, 126, 240);
}

.finalizar:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

.btn{
    box-shadow: 2px 2px 2px grey;
}

.btn:hover{
    transform: scale(1.3);
    transition: 0.5s;
    background-color: rgb(3, 126, 240);  
}
.card-img-top{
    height: 19rem;
}

.foot{
    text-align: center;
}